body{
	background-color:#C0C0C0;
}
button{
	margin: 30px;
	
}

.div1{
	bottom:0;
	position: fixed;
	text-align: center;
	width: 100%;
}

.text{
	margin: 50px;
}

.div2{
	bottom:50;
	position: fixed;
	text-align: center;
	width: 100%;
}

h4 {
	font-size:2px;
  }